// app global css in Sass form
a
  text-decoration: none
  color: $secondary

.inline-doc
  h1
    font-size: 3em
    font-weight: bold
  h2
    font-size: 1.5em

.profile_image
  // display: inline-block;
  background-position: center center
  background-size: cover
  border-radius: 50%

.CodeMirror
  border: 2px solid #cccccc
